<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1">
    <link href="./../public/css/style.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <div class="header-content">
            <div class="logo-search">
                <div class="logo">
                    <a href="./home.html"><img src="./../public/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre"></a>
                </div>
        
                <form class="search">
                    <input type="text" placeholder="Busca productos, marcas y más..." name="search">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
    
            <div class="title-header">
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>

        <div>
            <nav class="nav-container">
                <ul class="nav-options body-text">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="nav-options">
                    <li><a href="./register.html">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                    <li><a href="./login.html">Ingresá <i class="fas fa-user"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-cart"></i></a></li>
                </ul>
            </nav>
        </div>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <div class="banner">
        <img src="./../public/images/img-home-banner.jpg" alt="Banner">
    </div>

    <main>
        <p class="title title-section">Basado en tu última visita</p>
        <div class="articulo-container">
            <div class="articulo">
                <img src="./../public/images/img-cafetera-moulinex.jpg" alt="">
                <div class="articulo-descripcion">
                    <div class="truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p class="price">$6770</p>
                    <p class="off">40% OFF</p>
                    <p class="description"><b>Cafetera Moulinex</b></p>
                </div>
            </div>

            <div class="articulo">
                <img src="./../public/images/img-macbook-pro-2019.jpg" alt="">
                <div class="articulo-descripcion">
                    <div class="truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p class="price">$230000</p>
                    <p class="off">20% OFF</p>
                    <p class="description"><b>MacBook Pro 2019</b></p>
                </div>
            </div>

            <div class="articulo">
                <img src="./../public/images/img-samsung-galaxy-s10.jpg" alt="">
                <div class="articulo-descripcion">
                    <div class="truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p class="price">$70500</p>
                    <p class="off">10% OFF</p>
                    <p class="description"><b>Samsung Galaxy S10</b></p>
                </div>
            </div>

            <div class="articulo">
                <img src="./../public/images/img-tv-samsung-smart.jpg" alt="">
                <div class="articulo-descripcion">
                    <div class="truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p class="price">$23200</p>
                    <p class="off">5% OFF</p>
                    <p class="description"><b>SmartTv Samsung 43"</b></p>
                </div>
            </div>
        </div>

        <p class="title title-section">Ofertas</p>
        <div class="articulo-container">
            <div class="articulo">
                <img src="./../public/images/img-cafetera-moulinex.jpg" alt="">
                <div class="articulo-descripcion">
                    <div class="truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p class="price">$6770</p>
                    <p class="off">40% OFF</p>
                    <p class="description"><b>Cafetera Moulinex</b></p>
                </div>
            </div>

            <div class="articulo">
                <img src="./../public/images/img-macbook-pro-2019.jpg" alt="">
                <div class="articulo-descripcion">
                    <div class="truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p class="price">$230000</p>
                    <p class="off">20% OFF</p>
                    <p class="description"><b>MacBook Pro 2019</b></p>
                </div>
            </div>

            <div class="articulo">
                <img src="./../public/images/img-samsung-galaxy-s10.jpg" alt="">
                <div class="articulo-descripcion">
                    <div class="truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p class="price">$70500</p>
                    <p class="off">10% OFF</p>
                    <p class="description"><b>Samsung Galaxy S10</b></p>
                </div>
            </div>

            <div class="articulo">
                <img src="./../public/images/img-tv-samsung-smart.jpg" alt="">
                <div class="articulo-descripcion">
                    <div class="truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p class="price">$23200</p>
                    <p class="off">5% OFF</p>
                    <p class="description"><b>SmartTv Samsung 43"</b></p>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-art-container">
            <div class="p-footer">
                <i class="fas fa-credit-card"></i>
                <p class="title"><b>Pagá con tarjeta o en efectivo</b></p>
                <p class="description-off">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>

            <div class="p-footer">
                <i class="fas fa-gift"></i>
                <p class="title"><b>Envío gratis desde $ 2.500</b></p>
                <p class="description-off">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>

            <div class="p-footer">
                <i class="fas fa-user-shield"></i>
                <p class="title"><b>Seguridad, de principio a fin</b></p>
                <p class="description-off">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </div>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>