<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1">
    <link href="./../public/css/style.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <div class="header-content">
            <div class="logo-search">
                <div class="logo">
                    <a href="./home.html"><img src="./../public/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre"></a>
                </div>
        
                <form class="search">
                    <input type="text" placeholder="Busca productos, marcas y más..." name="search">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
    
            <div class="title-header">
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>

        <div>
            <nav class="nav-container">
                <ul class="nav-options body-text">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="nav-options">
                    <li><a href="./register.html">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                    <li><a href="./login.html">Ingresá <i class="fas fa-user"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-cart"></i></a></li>
                </ul>
            </nav>
        </div>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <main class="form-main">
        <form action="" class="form-container">
            <div class="form-group">
                <input class="input-text" type="text" name="user" placeholder="Nombre de usuario" required minlength="6">
            </div>
            <div class="form-group">
                <input class="input-text" type="password" name="password" placeholder="Contraseña" required minlength="8">
            </div>

            <button type="submit" class="form-boton" formaction="./home.html">Enviar</button>
        </form>
    </main>

    <footer>
        <div class="footer-art-container">
            <div class="p-footer">
                <i class="fas fa-credit-card"></i>
                <p class="title"><b>Pagá con tarjeta o en efectivo</b></p>
                <p class="description-off">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>

            <div class="p-footer">
                <i class="fas fa-gift"></i>
                <p class="title"><b>Envío gratis desde $ 2.500</b></p>
                <p class="description-off">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>

            <div class="p-footer">
                <i class="fas fa-user-shield"></i>
                <p class="title"><b>Seguridad, de principio a fin</b></p>
                <p class="description-off">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </div>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>